
@import 'style.css';

.content-block {
    background-color: var(--white);
    border-top: solid 2px var(--gray);
    border-bottom: solid 2px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content-block:nth-child(2n) {
    background-color: var(--green);
}

.content-block img {
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
}
