@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
    --background-header-color: #fef9f3;
    --gray: #1c1c1c;
    --yellow: #e6af2e;
    --green: #5c946e;
    --blue: #afc1d6;
    --white: #eef1ef;

    --para-font: "EB Garamond", serif;
    --header-font: "Google Sans Flex", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-header-color);
}

header {
    width: 100%;
    background-color: var(--background-header-color);
}

header img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main img {
    width: 100%;
}

article {
    width: 100%;
}

article h2 {
    margin: 0;
    padding: 10px;
    font-family: var(--header-font);
}

article h3 {
    margin: 0;
    padding: 10px;
    font-family: var(--header-font);
}

article p {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-family: var(--para-font);
}

button {
    border-radius: 1000px;
    width: 12%;
    float: right;
    padding: 2% 2.5% 1% 2%;
    margin: 2%;
    margin-top: 0;
}

button img {
    width: 100%;
    margin: 5%;
}

.connect {
    background-color: var(--green);
    color: var(--gray);
}

.connecthead {
    background-color: var(--green);
    margin: -5px 0 0 0;
    padding: 10px;
    font-family: var(--header-font);
    border-bottom: solid 2px var(--gray);
}

.resolve {
    background-color: var(--blue);
    color: var(--gray);
}

.quest {
    background-color: var(--yellow);
    color: var(--gray);
}

.reflect {
    background-color: var(--green);
    color: var(--gray);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.border {
    border: solid 2px var(--gray);
    width: 99%;
}

.two {
    grid-column: 1/3;
    border-top: solid 2px var(--gray);
}

.quote {
    background-color: var(--background-header-color);
    border-bottom: solid 2px var(--gray);
    padding-top: 10px;
}

.chat {
    grid-column: 1/3;
    border-bottom: solid 2px var(--gray);
    padding-top: 10px;
}

a:link {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    text-decoration: none;
    color: var(--white);
}

a:visited {
    text-decoration: none;
    color: var(--gray);
}

a:active {
    text-decoration: none;
    color: var(--gray);
}

footer {
    background-color: var(--background-header-color);
    color: var(--gray);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--para-font);
}
